<main>
  <div class="first--banner">
    <h1 class="heading--main">IP Address Tracker</h1>
    <div class="input--div">
      <input type="text" placeholder="Search for any IP address or domain">
      <button class="submit--btn">
        <img src="/images/icon-arrow.svg" alt="icon arrow" class="arrowIcon">
      </button>
    </div>
  </div>
  <div class="data--section">
    <div class="maindata--div">
      <div class="single--div">
        <span class="data--heading">IP Address</span>
        <span class="main--data">192.212.174.101</span>
      </div>
      <div class="single--div side--border">
        <span class="data--heading">Location</span>
        <span class="main--data">Brooklyn, NY 10001</span>
      </div>
      <div class="single--div side--border">
        <span class="data--heading">Timezone</span>
        <span class="main--data">UTC - 05:00</span>
      </div>
      <div class="single--div side--border">
        <span class="data--heading">ISP</span>
        <span class="main--data">SpaceX Starlink</span>
      </div>
    </div>
  </div>
  <div id="map" class="second--banner">
    <a
      href="https://www.maptiler.com"
      style="position: absolute; left: 10px; bottom: 10px; z-index: 999"
      ><img
        src="https://api.maptiler.com/resources/logo.svg"
        alt="MapTiler logo"
    /></a>
  </div>
</main>
